*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.social-media-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container{
    width: min(100%, 1000px);
    height: 80vh;
    margin: 0 auto;
}
.navbar-wrapper{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.mode-container{
    display: flex;
    padding: 0 10px;
    gap: 10px;
}
.navbar-header{
    font: 1.2rem arial;
    font-weight: bold;
}
.mode{
    color: grey;
    font: 0.7rem arial;
    font-weight: bold;
    padding-top: 10px;
}
.followers{
    font: 0.7rem arial;
    font-weight: bold;
    color: grey;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    display: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(49, 49, 117), rgb(123, 200, 123));
    transition: .4s;  
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(25, 25, 39);
    transition: .4s;
}
input:checked + .slider{
    background-image: linear-gradient(to right, rgb(49, 49, 117), rgb(123, 200, 123));
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
    -webkit-transform: translate(26px);
    -ms-transform: translate(26px);
    transform: translateX(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round::before{
    border-radius: 50%;
}

:root{
    --background-color: white;
    --color: black;
    --background-box: rgba(128, 128, 128, 0.137);
    --second-box: rgba(128, 128, 128, 0.137);
    --third-box: rgba(128, 128, 128, 0.308);
    --fourth-box: rgba(128, 128, 128, 0.137);
    --first-rectangle: rgba(128, 128, 128, 0.137);
    --second-rectangle: rgba(128, 128, 128, 0.137);
    --third-rectangle: rgba(128, 128, 128, 0.308);
    --fourth-rectangle: rgba(128, 128, 128, 0.137);
    --fifth-rectangle: rgba(128, 128, 128, 0.137);
    --sixth-rectangle: rgba(128, 128, 128, 0.137);
    --seventh-rectangle: rgba(128, 128, 128, 0.137);
    --eight-rectangle: rgba(128, 128, 128, 0.137);
}

[dark-mode="dark"] {
    --background-color: hsl(230, 17%, 14%);
    --color: white;
    --background-box: hsl(228, 28%, 20%);
    --second-box: hsl(228, 28%, 20%);
    --third-box: hsl(232, 19%, 15%);
    --fourth-box: hsl(228, 28%, 20%);
    --first-rectangle: hsl(228, 28%, 20%);
    --second-rectangle: hsl(228, 28%, 20%);
    --third-rectangle: hsl(232, 19%, 15%);
    --fourth-rectangle: hsl(228, 28%, 20%);
    --fifth-rectangle: hsl(228, 28%, 20%);
    --sixth-rectangle: hsl(228, 28%, 20%);
    --seventh-rectangle: hsl(228, 28%, 20%);
    --eight-rectangle: hsl(228, 28%, 20%);
}

body{
    background-color: var(--background-color);
    color: var(--color);
}

.box-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 230px;
    position: relative;
    top: 30px;
}

.first-box{
    width: 180px;
    height: 160px;
    background-color: var(--background-box);
    position: relative;
    border-radius: 4px;
}
.second-box{
    width: 180px;
    height: 160px;
    background-color: var(--second-box);
    position: relative;
    border-radius: 4px; 
}
.third-box{
    width: 180px;
    height: 160px;
    background-color: var(--third-box);
    position: relative;
    border-radius: 4px; 
}
.fourth-box{
    width: 180px;
    height: 160px;
    background-color: var(--fourth-box);
    position: relative;
    border-radius: 4px; 
}
.line{
    width: 180px;
    height: 4px;
    background-color: hsl(208, 92%, 53%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.line0{
    width: 180px;
    height: 4px;
    background-color: hsl(203, 89%, 53%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.line1{
    width: 180px;
    height: 4px;
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
}
.line2{
    width: 180px;
    height: 4px;
    background-color:  hsl(348, 97%, 39%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.icon-text{
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
}
.ape{
    color: grey;
    font: 0.6rem arial;
    font-weight: bold;
}
.size{
    width: 15px;
}
.axe{
    font: 2.5rem arial;
    font-weight: bold;
}
.ant{
    font: 0.6rem arial;
    color: grey;
}
.arc{
    text-align: center;
    margin-top: 15px;
}
.app{
    font: 0.5rem arial;
    font-weight: bold;
    color: hsl(163, 72%, 41%);
}
.icon-up-txt{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.appa{
    font: 0.5rem arial;
    font-weight: bold;
    color: hsl(356, 69%, 56%);
}
.title-wrapper{
    width: 80%;
    margin-left: 10%;
}
.title-header{
    font: 1.2rem arial;
    color: rgb(93, 92, 92);
    font-weight: bold;
}



.first-rectangle{
    width: 180px;
    height: 80px;
    background-color: var(--first-rectangle);
    border-radius: 4px;
}
.second-rectangle{
    width: 180px;
    height: 80px;
    background-color: var(--second-rectangle);
    border-radius: 4px;
}
.third-rectangle{
    width: 180px;
    height: 80px;
    background-color:  var(--third-rectangle);
    border-radius: 4px;
}
.fourth-rectangle{
    width: 180px;
    height: 80px;
    background-color: var(--fourth-rectangle);
    border-radius: 4px;
}
.fifth-rectangle{
    width: 180px;
    height: 80px;
    background-color: var(--fifth-rectangle);
    border-radius: 4px;
}
.sixth-rectangle{
    width: 180px;
    height: 80px;
    background-color: var(--sixth-rectangle);
    border-radius: 4px;
}
.seventh-rectangle{
    width: 180px;
    height: 80px;
    background-color: var(--seventh-rectangle);
    border-radius: 4px;
}
.eight-rectangle{
    width: 180px;
    height: 80px;
    background-color: var(--eight-rectangle);
    border-radius: 4px;
}
.same{
    display: flex;
    justify-content: center;
    padding: 13px;
    gap: 25px;
}
.reduce{
    width: 15px;
    margin-top: 15px;
}
.flex-rec{
    display: flex;
    justify-content: space-around;
}
.ball{
    font: 0.7rem arial;
    color: grey;
    font-weight: bold;
    margin-top: 15px;
}
.bat{
    font: 1.5rem sans-serif;
    font-weight: bold;
    margin-top: 15px;
}
.bam{
    font: 0.5rem arial;
    font-weight: bold;
    color: hsl(163, 72%, 41%);
    margin-top: 20px;
}
.bama{
    font: 0.5rem arial;
    font-weight: bold;
    color: hsl(356, 69%, 56%);
    margin-top: 20px;
}


@media screen and (max-width: 400px){
    .container{
        width: 400px;
        height: 100%;
        left: 0;
        top: 0;
    }
    .navbar-wrapper{
        flex-direction: column;
        justify-content: center;
    }
    .navbar-header{
        font-size: 1.5rem;
    }
    .followers{
        font-size: 0.8rem ;
    }
    .head-container{
        border-bottom: 1px solid grey;
        padding: 10px 0 20px 0;
        width: 100%;
    }
    .box-container{
        flex-direction: column;
        justify-content: center;
        height: 700px;
        left: 10px;
    }
    .rectangle-container{
        flex-direction: column;
        justify-content: center;
        height: 900px;
    }
    .same{
        flex-direction: column;
    }
    .mode-container{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .title-wrapper{
        margin-top: 60px;
        margin-left: 20px;
    }
    .first-box,
    .second-box,
    .third-box,
    .fourth-box{
        width: 375px;
        height: 400px;
    }
    .line,
    .line0,
    .line1,
    .line2{
        width: 375px;
    }
    .axe{
        font: 2.8rem arial;
        font-weight: bold;
    }
    .ant{
        font: 0.7rem arial;
        color: grey;
    }
    .first-rectangle,
    .second-rectangle,
    .third-rectangle,
    .fourth-rectangle,
    .fifth-rectangle,
    .sixth-rectangle,
    .seventh-rectangle,
    .eight-rectangle{
        width: 375px;
    }
    
}